{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<div class="slider">
	<div class="slide-one">
		<button class="slide-btn-left"><</button>
		<div class="slide-one-content">
			<div class="mouse-and-keyboard">
				<a href="#"><img src="{% static 'app/img/mouse_and_keyboard.png' %}"></a>
				<span><a href="#">Мыши и клавиатуры</a></span>
			</div>

			<div class="microphone-and-camera">
				<div class="microphone">
					<a href="#"><img src="{% static 'app/img/microphone.png' %}"></a>
					<span><a href="#">Микрофоны</a></span>
				</div>
				
				<div class="camera">
					<a href="#"><img src="{% static 'app/img/web-camera.png' %}"></a>
					<span><a href="#">Веб-камеры</a></span>
				</div>
			</div>
		</div>

		<div class="headphones">
			<a href="#"><img src="{% static 'app/img/headphones.png' %}"></a>
		</div>

		<button class="slide-btn-right">></button>
		
	</div>
</div>


<div class="description">
		<img src="{% static 'app/img/table.png' %}">
		<span>НАЙДИТЕ ЛУЧШИЕ ДЕВАЙСЫ ДЛЯ ВАШЕГО РАБОЧЕГО ПРОСТРАНСТВА</span>
</div>
{% endblock %}