{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<div class="slider">
	<div class="slide-one">
		<button class="slide-btn-left"><</button>
		<div class="slide-one-content">
			<div class="mouse-and-keyboard">
				<a href="#"><img src="{% static 'app/img/mouse_and_keyboard.png' %}"></a>
				<span><a href="#">Мыши и клавиатуры</a></span>
			</div>

			<div class="microphone-and-camera">
				<div class="microphone">
					<a href="#"><img src="{% static 'app/img/microphone.png' %}"></a>
					<span><a href="#">Микрофоны</a></span>
				</div>
				
				<div class="camera">
					<a href="#"><img src="{% static 'app/img/web-camera.png' %}"></a>
					<span><a href="#">Веб-камеры</a></span>
				</div>
			</div>
		</div>

		<div class="headphones">
			<a href="#"><img src="{% static 'app/img/headphones.png' %}"></a>
		</div>

		<button class="slide-btn-right">></button>
		
	</div>
	
</div>
<div>
	<div class="description-1">
		<img src="{% static 'app/img/women.jpg' %}">
		<div>
			<span>Добро пожаловать в "GameHub" – место, где сбываются мечты геймеров! Погрузитесь в мир бесконечных возможностей, ведь вы ступаете на землю, созданную исключительно для игроманов. Исследуйте уникальную коллекцию передовой техники, свежих игровых релизов и сокровищницу аксессуаров, которые сделают каждое мгновение вашего игрового приключения невероятным. От ретро-классики до последних VR-шедевров, "GameHub" – ваш портал в мир игр. Откройте для себя свой игровой рай, где пиксели и страсть соединяются воедино.</span>
		</div>
	</div>
</div>
{% endblock %}